
<header>

<h1>{{title}}</h1>

<!--here is the code for the nevigation bar at every page present-->
<div>
    <a href="/">Weather</a>
<a href="/help">Help</a>
<a href="/about">About</a>

</div>

</header>