<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="./css/style.css"> 
  <!--link to add the icon to the top of web page-->
    <link rel="icon" href="/image/img.jpg">


   <title>about</title>
</head>
<body>
   <div class="main-content">
    {{>header}}
    <p>This website is created by Vivek Saroha. It takes data from mapbox.com and darksky.net!</p>
    <image class="potrait" src="./image/img.jpg" alt="image is here">
   </image>
   </div>
      {{>footer}}
</body>
</html>