<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="./css/style.css"> 
     <!--link to add the icon to the top of web page-->
    <link rel="icon" href="/image/img.jpg">

   <title>help</title>
</head>
<body>
   <div class="main-content">
        {{>header}}

<p>{{message}}</p>
   </div>
 
  {{>footer}}
</body>
</html>